.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 65px;
  }
  
  .baloon {
    position: absolute;
  left: 300px;
  z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    top: 110px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 4;
    top: 275px;
    left: 580px;
  }